/ Variables
- page_title = t('.title')
/
/ / SEO
- title page_title
- noindex false
- nofollow false

/ Beginning

/ Settings
- page_header page_title

.mb-4
  = link_to t('public.general.buttons.add'), new_admin_author_path, class: 'btn btn-outline-success'

table.table.mb-0
  thead.thead-inverse
    tr
      th.align-middle.text-nowrap
        = t('admin.authors.index.components.table.header.id')
      th.align-middle.text-nowrap
        = t('admin.authors.index.components.table.header.name')
      th.align-middle.text-nowrap
        = t('admin.authors.index.components.table.header.books')
      th.text-nowrap.text-right
        = t('admin.authors.index.components.table.header.options')
  tbody
    - if @authors.exists?
      - @authors.each do |author|
        tr
          th.align-middle
            = author.id
          td.align-middle
            = author.name
          td.align-middle
            = nice_short_list(author.books, :title)
          td.align-middle.text-right
            => link_to t('admin.authors.index.components.table.body.edit'), edit_admin_author_path(author), class: 'btn btn-outline-primary btn-sm'
            = link_to t('admin.authors.index.components.table.body.delete'), admin_author_path(author), method: :delete, data: { confirm: t('public.general.notifications.are_you_sure') }, class: 'btn btn-outline-danger btn-sm'
    - else
      tr
        td.text-center colspan="4"
          = t('admin.authors.index.components.table.body.no_found')

.mt-5

= paginate @authors
