/ Variables
- page_title = t('.title')
/
/ / SEO
- title page_title
- noindex false
- nofollow false

/ Beginning

/ Settings
- page_header page_title

.row.justify-content-start
  .col-lg-6
    = render 'admin/authors/common/form', author: @author
