.row.justify-content-center
  .col-md-6.col-lg-5
    .h1.mt-4.mb-4
      = title t('public.devise.passwords.new.title')

    = form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f|
      .card
        .card-body
          = devise_error_messages!

          .form-group
            = f.label :email, t('public.devise.common.labels.email')
            = f.email_field :email, class: 'form-control', placeholder: 'email@example.com', autofocus: true, required: true

        .card-footer
          .d-flex.justify-content-between.flex-wrap
            = render 'devise/common/links'
            = f.submit t('public.devise.common.buttons.send'), class: 'btn btn-success ml-1'
